Repository MihiroH/training-solidjs: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:script:fix, npm run lint:script, npm run lint:style:fix, npm run lint:style

feat: googleフォントを追加
  package-lock.json
  package.json
  vite.config.js
Due: npm run format, npm run lint:script:fix, npm run lint:script

feat: reset.min.cssの追加、最低限のscss環境を作成
  src/assets/css/reset.min.css
  src/assets/scss/styles.scss
  src/index.scss
  src/index.tsx
  vite.config.js
Due: npm run format, npm run lint:script:fix, npm run lint:script, npm run lint:style:fix, npm run lint:style

feat: 各ページファイルの追加とそれぞれのルーティングを設定
  package-lock.json
  package.json
  src/App.module.scss
  src/App.tsx
  src/index.tsx
  src/pages/DeliveryAreas/DeliveryAreas.module.scss
  src/pages/DeliveryAreas/DeliveryAreas.tsx
  src/pages/Feature/Feature.module.scss
  src/pages/Feature/Feature.tsx
  src/pages/Internship/Internship.module.scss
  src/pages/Internship/Internship.tsx
  src/pages/JobDescription/JobDescription.module.scss
  src/pages/JobDescription/JobDescription.tsx
  src/pages/NotFound/NotFound.module.scss
  src/pages/NotFound/NotFound.tsx
  src/pages/Recruit/Recruit.module.scss
  src/pages/Recruit/Recruit.tsx
  src/pages/Salary/Salary.module.scss
  src/pages/Salary/Salary.tsx
  src/pages/Schedule/Schedule.module.scss
  src/pages/Schedule/Schedule.tsx
  src/pages/Support/Support.module.scss
  src/pages/Support/Support.tsx
  src/pages/Top/Top.module.scss
  src/pages/Top/Top.tsx
  src/router/index.ts
Due: npm run format, npm run lint:script:fix, npm run lint:script, npm run lint:style:fix, npm run lint:style

feat: コンポーネントのサンプルファイルを追加
  src/components/Navigation/Navigation.module.scss
  src/components/Navigation/Navigation.tsx
Due: npm run format, npm run lint:script:fix, npm run lint:script, npm run lint:style:fix, npm run lint:style

chore: vercel.jsonを追加
  vercel.json
Due: none

refactor: .jsを.tsに変更
  vite.config.ts
Due: npm run format, npm run lint:script:fix, npm run lint:script

fix: ブレイクポイントの修正
  src/assets/scss/styles.scss
Due: npm run format, npm run lint:style:fix, npm run lint:style

fix: vw関数のビルドワーニングの回避・$windowSizeから"px"を除去
  src/assets/scss/styles.scss
Due: npm run format, npm run lint:style:fix, npm run lint:style

fix: 修正戻し
  src/assets/scss/styles.scss
Due: npm run format, npm run lint:style:fix, npm run lint:style

fix: reset.min.cssを変更
  src/assets/css/reset.min.css
Due: none

refactor: scssの変数名を変更
  src/assets/scss/styles.scss
Due: npm run format, npm run lint:style:fix, npm run lint:style

fix: 共通スタイルを修正
  src/index.scss
Due: npm run format, npm run lint:style:fix, npm run lint:style

fix: ベースの文字色を変更
  src/index.scss
Due: npm run format, npm run lint:style:fix, npm run lint:style

feat: ページトップコンポーネントを追加
  src/assets/img/logo-sub.svg
  src/components/PageTop/PageTop.module.scss
  src/components/PageTop/PageTop.tsx
  src/pages/Salary/Salary.tsx
Due: npm run format, npm run lint:script:fix, npm run lint:script, npm run lint:style:fix, npm run lint:style

chore: viteでrequireを使えるようにした
  package-lock.json
  package.json
  vite.config.ts
Due: npm run format, npm run lint:script:fix, npm run lint:script

feat: trailingSlash関数をutilsに追加
  src/utils/index.ts
Due: npm run format, npm run lint:script:fix, npm run lint:script

feat: 共通レイアウトで使用する画像を追加
  src/assets/img/bg_header_feature.png
  src/assets/img/bg_header_salary.png
  src/assets/img/icon_email.svg
  src/assets/img/logo_triple_box.svg
Due: none

feat: セクションヘッダーコンポーネントを追加
  src/components/SectionHeader/SectionHeader.module.scss
  src/components/SectionHeader/SectionHeader.tsx
  src/constants/pagesInfo.ts
Due: npm run format, npm run lint:script:fix, npm run lint:script, npm run lint:style:fix, npm run lint:style

feat: 共通レイアウトをコーディング
  src/App.module.scss
  src/App.tsx
  src/components/KeyVisual/KeyVisual.module.scss
  src/index.scss
Due: npm run format, npm run lint:script:fix, npm run lint:script, npm run lint:style:fix, npm run lint:style

feat: カードコンポーネントを追加
  src/assets/scss/styles.scss
  src/components/Card/Card.module.scss
  src/components/Card/Card.tsx
Due: npm run format, npm run lint:script:fix, npm run lint:script, npm run lint:style:fix, npm run lint:style

feat: 給与ページをコーディング
  src/assets/scss/styles.scss
  src/components/PageTop/PageTop.tsx
  src/components/SectionHeader/SectionHeader.module.scss
  src/pages/Salary/Salary.module.scss
  src/pages/Salary/Salary.tsx
Due: npm run format, npm run lint:script:fix, npm run lint:script, npm run lint:style:fix, npm run lint:style

refactor: 不要な記述を削除
  src/router/index.ts
Due: npm run format, npm run lint:script:fix, npm run lint:script

feat: サポートページをコーディング
  src/assets/img/bg_header_support.png
  src/constants/pagesInfo.ts
  src/pages/Support/Support.module.scss
  src/pages/Support/Support.tsx
Due: npm run format, npm run lint:script:fix, npm run lint:script, npm run lint:style:fix, npm run lint:style

fix: キービジュアルのスタイルを調整
  src/components/KeyVisual/KeyVisual.module.scss
Due: npm run format, npm run lint:style:fix, npm run lint:style

feat: 配送エリアページをコーディング
  src/assets/img/bg_header_delivery_areas.png
  src/assets/img/icon_chiba.png
  src/assets/img/icon_kanagawa.png
  src/assets/img/icon_saitama.png
  src/assets/img/icon_tokyo.png
  src/constants/areas.ts
  src/constants/pagesInfo.ts
  src/pages/DeliveryAreas/DeliveryAreas.module.scss
  src/pages/DeliveryAreas/DeliveryAreas.tsx
Due: npm run format, npm run lint:script:fix, npm run lint:script, npm run lint:style:fix, npm run lint:style

refactor: セクションヘッダーコンポーネントをリファクタリング
  src/App.tsx
  src/components/SectionHeader/SectionHeader.tsx
  src/constants/pagesInfo.ts
Due: npm run format, npm run lint:script:fix, npm run lint:script

feat: セクションヘッダーのエラーを修正
  src/App.tsx
Due: npm run format, npm run lint:script:fix, npm run lint:script

feat: 業務内容ページをコーディング
  src/assets/img/bg_header_job_description.png
  src/constants/pagesInfo.ts
  src/pages/JobDescription/JobDescription.module.scss
  src/pages/JobDescription/JobDescription.tsx
Due: npm run format, npm run lint:script:fix, npm run lint:script, npm run lint:style:fix, npm run lint:style

feat: ボタンコンポーネントを追加
  src/components/Button/Button.module.scss
  src/components/Button/Button.tsx
Due: npm run format, npm run lint:script:fix, npm run lint:script, npm run lint:style:fix, npm run lint:style

feat: 職場体験ページをコーディング
  src/assets/img/bg_header_internship.png
  src/constants/pagesInfo.ts
  src/pages/Internship/Internship.module.scss
  src/pages/Internship/Internship.tsx
Due: npm run format, npm run lint:script:fix, npm run lint:script, npm run lint:style:fix, npm run lint:style

fix: ページトップコンポーネントのPropsを修正
  src/components/PageTop/PageTop.tsx
Due: npm run format, npm run lint:script:fix, npm run lint:script

chore: solidjsのinnerHTMLがエラーにならないようにeslintのルールを変更
  .eslintrc.json
Due: none

feat: 採用の流れページをコーディング
  src/assets/img/bg_header_recruit.png
  src/assets/img/recruit_step1.png
  src/assets/img/recruit_step2.png
  src/assets/img/recruit_step3.png
  src/assets/img/recruit_step4.png
  src/assets/img/recruit_step5.png
  src/assets/img/recruit_step6.png
  src/constants/pagesInfo.ts
  src/pages/Recruit/Recruit.module.scss
  src/pages/Recruit/Recruit.tsx
  src/pages/Recruit/index.ts
Due: npm run format, npm run lint:script:fix, npm run lint:script, npm run lint:style:fix, npm run lint:style

refactor: areaファイルをpages/DeliveryAreas直下に移動
  src/pages/DeliveryAreas/DeliveryAreas.tsx
  src/pages/DeliveryAreas/index.ts
Due: npm run format, npm run lint:script:fix, npm run lint:script

feat: ボタンにhoverアクションを追加
  src/components/Button/Button.module.scss
Due: npm run format, npm run lint:style:fix, npm run lint:style

feat: 1日のスケジュールページをコーディング
  src/assets/img/schedule_box.png
  src/assets/img/schedule_drinking.png
  src/assets/img/schedule_greeting.png
  src/assets/img/schedule_sign_language.png
  src/assets/img/schedule_truck.png
  src/constants/pagesInfo.ts
  src/pages/Schedule/Schedule.module.scss
  src/pages/Schedule/Schedule.tsx
  src/pages/Schedule/index.ts
  src/utils/index.ts
Due: npm run format, npm run lint:script:fix, npm run lint:script, npm run lint:style:fix, npm run lint:style

refactor: 不要なtype定義を削除
  src/pages/DeliveryAreas/index.ts
Due: npm run format, npm run lint:script:fix, npm run lint:script

fix: 採用の流れのページ情報を復元(デグレ)
  src/constants/pagesInfo.ts
Due: npm run format, npm run lint:script:fix, npm run lint:script

Path conditions:
  npm run format: any of: ./**/*.{js,jsx,ts,tsx,scss}
  npm run lint:script:fix: any of: ./**/*.{js,jsx,ts,tsx}
  npm run lint:script: any of: ./**/*.{js,jsx,ts,tsx}
  npm run lint:style:fix: any of: ./**/*.scss
  npm run lint:style: any of: ./**/*.scss
