Repository MihiroH/training-solidjs: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:script:fix, npm run lint:script, npm run lint:style:fix, npm run lint:style

fix: ナビゲーションコーディング完了
  src/components/Navigation/Navigation.module.scss
  src/components/Navigation/Navigation.tsx
  src/constants/index.ts
  src/index.scss
  src/index.tsx
Due: npm run format, npm run lint:script:fix, npm run lint:script, npm run lint:style:fix, npm run lint:style

feat: ループ処理の追加
  src/components/Navigation/Navigation.tsx
  src/utils/handler.ts
Due: npm run format, npm run lint:script:fix, npm run lint:script

style: ナビゲーションのスタイル修正
  src/components/Navigation/Navigation.module.scss
Due: npm run format, npm run lint:style:fix, npm run lint:style

fix: navigationをapp.tsxにインポートする様に修正
  src/App.tsx
  src/index.tsx
Due: npm run format, npm run lint:script:fix, npm run lint:script

fix: navigationのz-indexを追加
  src/components/Navigation/Navigation.module.scss
Due: npm run format, npm run lint:style:fix, npm run lint:style

feat: 特長ページをコーディング
  src/assets/img/radar_chart.svg
  src/components/RadarChart/RadarChart.module.scss
  src/components/RadarChart/RadarChart.tsx
  src/pages/Feature/Feature.module.scss
  src/pages/Feature/Feature.tsx
  src/pages/Feature/index.ts
  src/utils/index.ts
Due: npm run format, npm run lint:script:fix, npm run lint:script, npm run lint:style:fix, npm run lint:style

fix: ボタンコンポーネントのpropsのclassが反映されない問題修正
  src/components/Button/Button.tsx
Due: npm run format, npm run lint:script:fix, npm run lint:script

feat: ナビゲーションのスタイル調整
  src/components/Navigation/Navigation.module.scss
  src/components/Navigation/Navigation.tsx
  src/constants/index.ts
Due: npm run format, npm run lint:script:fix, npm run lint:script, npm run lint:style:fix, npm run lint:style

fix: 諸々のスタイル調整
  src/components/Button/Button.module.scss
  src/components/KeyVisual/KeyVisual.module.scss
  src/components/Navigation/Navigation.module.scss
  src/components/RadarChart/RadarChart.module.scss
  src/pages/DeliveryAreas/DeliveryAreas.module.scss
  src/pages/Feature/Feature.module.scss
  src/pages/Internship/Internship.module.scss
  src/pages/Recruit/Recruit.module.scss
  src/pages/Salary/Salary.module.scss
  src/pages/Schedule/Schedule.module.scss
  src/pages/Support/Support.module.scss
Due: npm run format, npm run lint:style:fix, npm run lint:style

feat: 特長のヘッダー画像を追加
  src/assets/img/bg_header_schedule.png
Due: none

fix: 文言修正
  src/constants/index.ts
Due: npm run format, npm run lint:script:fix, npm run lint:script

fix: トップページの不要なファイルや要素を削除
  src/App.tsx
  src/pages/Top/Top.module.scss
  src/pages/Top/Top.tsx
  src/router/index.ts
Due: npm run format, npm run lint:script:fix, npm run lint:script, npm run lint:style:fix, npm run lint:style

chore: vite-plugin-requireを削除
  package-lock.json
  package.json
  vite.config.ts
Due: npm run format, npm run lint:script:fix, npm run lint:script

chore: png画像をwebpに変換するcliを追加
  package-lock.json
  package.json
Due: none

docs: update README.md
  README.md
Due: none

chore: nodeのversionを16.6.2に変更と設定
  .node-version
Due: none

chore: nodeのversion upに伴ってTSのトランスパイルレベルをes6に変更
  tsconfig.json
Due: none

fix: favicon差し替え
  index.html
  src/assets/favicon.ico
Due: none

refactor: 定数のページ情報を整理
  src/App.tsx
  src/components/Navigation/Navigation.tsx
  src/components/SectionHeader/SectionHeader.tsx
  src/constants/index.ts
  src/constants/pagesInfo.ts
  src/types/index.ts
Due: npm run format, npm run lint:script:fix, npm run lint:script

feat: 404ページのコーディング
  src/pages/NotFound/NotFound.module.scss
  src/pages/NotFound/NotFound.tsx
Due: npm run format, npm run lint:script:fix, npm run lint:script, npm run lint:style:fix, npm run lint:style

fix: 諸々のスタイルとhtmlタグを修正
  src/App.tsx
  src/components/KeyVisual/KeyVisual.tsx
  src/components/Navigation/Navigation.module.scss
  src/components/SectionHeader/SectionHeader.tsx
Due: npm run format, npm run lint:script:fix, npm run lint:script, npm run lint:style:fix, npm run lint:style

feat: meta情報のtitleとdescriptionを設定
  index.html
Due: none

feat: fadeUpアニメーションを追加
  src/index.scss
  src/pages/DeliveryAreas/DeliveryAreas.tsx
  src/pages/Recruit/Recruit.tsx
  src/pages/Salary/Salary.tsx
Due: npm run format, npm run lint:script:fix, npm run lint:script, npm run lint:style:fix, npm run lint:style

feat: お問い合わせボタンにmailtoを設定
  src/components/SectionHeader/SectionHeader.tsx
  src/constants/index.ts
  src/pages/Internship/Internship.tsx
  src/pages/Recruit/Recruit.tsx
  src/pages/Recruit/index.ts
  src/utils/mailtoTemplate.ts
Due: npm run format, npm run lint:script:fix, npm run lint:script

feat: ナビゲーションにもお問い合わせボタンを設置
  src/components/Navigation/Navigation.module.scss
  src/components/Navigation/Navigation.tsx
Due: npm run format, npm run lint:script:fix, npm run lint:script, npm run lint:style:fix, npm run lint:style

feat: 給与セクションにも採用応募ボタンを設置
  src/pages/Recruit/Recruit.tsx
  src/pages/Salary/Salary.module.scss
  src/pages/Salary/Salary.tsx
Due: npm run format, npm run lint:script:fix, npm run lint:script, npm run lint:style:fix, npm run lint:style

fix: ページコンポーネントのlazy importをやめた
  src/router/index.ts
Due: npm run format, npm run lint:script:fix, npm run lint:script

feat: ナビゲーション部分のアクティブ項目が左端になるよう実装
  src/components/Navigation/Navigation.tsx
  src/constants/index.ts
Due: npm run format, npm run lint:script:fix, npm run lint:script

fix: リロード時のナビゲーションスクロールの挙動修正
  src/components/Navigation/Navigation.tsx
Due: npm run format, npm run lint:script:fix, npm run lint:script

fix: グローバル定数の削除
  src/constants/index.ts
Due: npm run format, npm run lint:script:fix, npm run lint:script

fix: navigation loadイベントが1度だけ登録されるよう修正
  src/components/Navigation/Navigation.tsx
Due: npm run format, npm run lint:script:fix, npm run lint:script

ファイル一式削除
  README.md
  apple-touch-icon.png
  assets/images/delivery.png
  assets/images/deliveryPerson.png
  assets/images/delivery_person_car.png
  assets/images/earnings.png
  assets/images/load.png
  assets/images/recruit.jpg
  assets/images/timeline.png
  assets/images/timeline_sp.png
  assets/images/top.png
  assets/images/transaction.jpeg
  assets/images/truck.jpg
  assets/js/script.js
  assets/sass/_reset.scss
  assets/sass/style.scss
  favicon.ico
  gulpfile.js
  index.html
  ogp.png
  package.json
  privacy.html
Due: npm run format, npm run lint:script:fix, npm run lint:script, npm run lint:style:fix, npm run lint:style

fix: package.jsonのnameを変更
  package.json
Due: none

Path conditions:
  npm run format: any of: ./**/*.{js,jsx,ts,tsx,scss}
  npm run lint:script:fix: any of: ./**/*.{js,jsx,ts,tsx}
  npm run lint:script: any of: ./**/*.{js,jsx,ts,tsx}
  npm run lint:style:fix: any of: ./**/*.scss
  npm run lint:style: any of: ./**/*.scss
